#headerDiv {
    min-height: 200px;
    position: fixed;
    z-index: 10;
    left: 10%;
    background: white;
}

.logounicorn {
    height: 80px;
}

.reseau_social_icon {
    height: 30px;
    width: 30px;
    margin: 5px;
}
