#MenuLeftProduits{
    width: 13%;
    height: 100%;
    display: inline-block;
    border-right: 1px solid var(--mainGreenPolice);
    position: fixed;
    top: 300px;

}
.categorie{
    text-transform: uppercase;
    font-weight: bold;
}
a:link, a:visited{
    color: var(--mainGrey);
}
a:hover, a:active{
    color: black;
    text-decoration: var(--mainPink) wavy underline;
}

.hr{
    width: 50px;
    height: 1px;
    display: block;
    margin: 5px auto;
    background-color: var(--mainGreenPolice);
}

.allproductstitle{
    text-align: center;
}